* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Monitor {
  width: 90%;
  margin: 1rem auto;
}

.tables {
  justify-content: space-between;
  gap: 2rem;
}

.left,
.right {
  width: 50%;
  align-items: center;
  gap: 1rem;
}

.RamSummary {
  gap: 1rem;
  margin: 1rem 0;
}

.menu {
  background-color: #427baf;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease all;
  i {
    color: #fff;
    font-size: 2rem;
  }
}

.controller {
  background-color: #4e6b4c;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease all;
  i {
    color: #fff;
    font-size: 1.5rem;
  }
}

.menu:hover {
  transition: 0.5s ease all;
  background-color: #2a5680;
}
.controller:hover {
  transition: 0.5s ease all;
  background-color: #354d33;
}

.optionsMenu {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
  gap: 1rem;
  align-items: center;
}
